<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediMate - Medical AI Assistant</title>
    <link href="/static/styles.css" rel="stylesheet" type="text/css">  
</head>
<body>
    <header>
        <div class="header-container">
            <div class="button-container">
                <nav>
                    <ul class="nav-links">
                        <li><a href="schedule" class="button">Automated Scheduling and Shift Management</a></li>
                        <li><a href="mental-health-support" class="button">Mental Health Support</a></li>
                        <li><a href="doccumentation" class="button">Doccumentation</a></li>
                        <li><a href="decision-support" class="button">Clinical Diagnosis Support</a></li>
                    </ul>
                </nav>
            </div>
            <h1 class="centered-title">MediMate</h1>
            <div class="logo-container">
                <img src="static/logo.png" alt="MediMate Logo" class="logo">
            </div>
        </div>
    </header>
    <main>
        <section id="description">
            <h2 class="centered-title">Medical AI Assistent</h2>
            <p class="centered-description">Your very own medical assistant to reduce burnout and increase efficiency.</p>
        </section>
    </main>
    <footer>
        <p class="centered-description">&copy; 2024 MediMate - Medical AI Assistant. All rights reserved.</p>
    </footer>
</body>
</html>