<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M.A.I.D. - Medical AI Doctor</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link to external CSS if needed -->
</head>
<body>
    <header>
        <h1>Welcome to M.A.I.D. - Medical AI Doctor</h1>
        <nav>
            <ul class="nav-links">
                <li><a href="schedule" class="button">Schedule Creator</a></li>
            </ul>
        </nav>
    </header>
        <h1>Welcome to M.A.I.D. - Medical AI Doctor</h1>
    </header>
    <main>
        <section id="description">
            <h2>Description</h2>
            <p> Your very own medical assisntent to help you sva</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 M.A.I.D. All rights reserved.</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>